@import "reset.scss"

html
  background-color: #e4e4e4
  body
    font: 16px "Times New Roman"
    text-align: center

h1
  font: 72px "Cooper Black"
h2
  font: 30px "Cooper Black"
  padding-bottom: 8px
h3
  font: italic bold 18px "Times New Roman"

@mixin curvy($radius)
  behavior: url(border-radius.htc)
  zoom: 1
  border-radius: $radius
  -moz-border-radius: $radius
  -webkit-border-radius: $radius
  -khtml-border-radius: $radius
  
.clear
  clear: both

.wrapper
  width: 800px
  height: auto
  margin: 0px auto
  text-align: left
  position: relative
  

.header
  width: 800px
  margin: 0px auto
  position: relative
  .title    
    padding: 10px 20px
    height: 90px
    width: 800px
    background-color: #0099ff
    color: #444444
    border-color: #0099FF
    @include curvy(12px)
    position: relative
    overflow: visible
.description
  width: expression( this.clientWidth > 424 ? "425px" : "auto" )
  max-width: 425px
  overflow: hidden
  position: relative
  display: inline
  float: right
  text-align: right
  color: #ffffff
  background-color: #000000
  border-color: #000000
  @include curvy(8px)
  padding: 6px 12px 9px 8px
  margin: -7px 20px 0px 20px

.post
  height: auto
  width: 550px
  margin-top: 60px 
  margin-left: 200px
  position: relative
  .content
    padding: 8px 8px 24px 8px
    @include curvy(10px)
    background-color: #0099ff
    border-color: #0099ff
    position: relative
    overflow: visible
    .timestamp
      margin-top: 8px
      padding: 8px 5px
      width: expression( this.clientWidth > 539 ? "540px" : "auto" )
      max-width: 540px
      @include curvy(8px)
      color: #fff
      background-color: #000
      border-color: #000
      position: absolute
      right: 15px
  
.footer