@import "reset.scss"

html
  background-color: #e4e4e4
  body
    font: 16px "Times New Roman"
    text-align: center

h1
  font: 72px "Cooper Black"
h2
  font: 24px "Cooper Black"
h3
  font: italic bold 18px "Times New Roman"

@mixin curvy($radius)
  behavior: url(border-radius.htc)
  zoom: 1
  border-radius: $radius
  -moz-border-radius: $radius
  -webkit-border-radius: $radius
  -khtml-border-radius: $radius
  
.clear
  clear: both

.wrapper
  width: 800px
  height: auto
  margin: 0px auto
  text-align: left
  position: relative

.header
  width: 800px
  height: auto
  margin: 0px auto
  .title    
    padding: 10px 20px
    height: 90px
    width: 800px
    background-color: #0099ff
    color: #444444
    border-color: #0099FF
    @include curvy(12px)
    position: absolute
    top: 0px
    left: 0px
    z-index: 1
  .description
    height: auto
    width: auto
    width: 600px
    overflow: hidden
    position: absolute
    top: 100px
    right: 0px
    text-align: right
    color: #ffffff
    background-color: #000000
    border-color: #000000
    @include curvy(8px)
    padding: 12px 8px 6px 8px

.posts
  position: absolute
  top: 140px
  left: 145px
.post
  width: 550px
  margin: 60px auto
  .content
    @include curvy(10px)
    background-color: #0099ff
    border-color: #0099ff
  .timestamp
    @include curvy(8px)
    color: #fff
    background-color: #000
    border-color: #000
  
.footer