%html
  %head
    %style{:type => "text/css", :media => "screen"}
      = File.read('main.css')
    %script{:src => "http://static.tumblr.com/jfofjkz/lWKlcewgn/cufon-yui.js", :type => "text/javascript"}
    %script{:src => "http://static.tumblr.com/jfofjkz/jT1lcewhu/cooper_std_900.font.js", :type => "text/javascript"}
    %script{:src => "http://static.tumblr.com/jfofjkz/N8elck12r/dd_roundies_0.0.2a-min.js", :type => "text/javascript"}
    %script{:type => "text/javascript"}
      Cufon.replace('h1');
      Cufon.replace('h2');  
    %script{:type => "text/javascript"}
      DD_roundies.addRule('.title', '12px');
      DD_roundies.addRule('.description', '8px');
      DD_roundies.addRule('.content', '10px');
      DD_roundies.addRule('.timestamp', '8px');
      DD_roundies.addRule('.picture', '10px');
      DD_roundies.addRule('.following', '10px');
      
    %title
      {title}
    %a{:rel => "shortcut icon", :href => "{Favicon}"}
    %a{:rel => "alternate", :type => "application/rss+xml", :href => "{RSS}"}
    {block:Description}
    %meta{:name => "description", :content => "{MetaDescription}"}
    {/block:Description}
    
  %body
    .wrapper
      .header
        %a{:href =>"/", :style => "text-decoration: none"}
          .title
            %h1
              {Title}
      {block:Description}
      .description
        %h3
          {Description}
      {/block:Description}
      .clear
    
      = Haml::Engine.new(File.read('templates/posts.haml')).render
    
    .pagination
      %h3
    
        {block:PreviousPage}
        %a{:href => "{PreviousPage}"}
          Newer
        {/block:PreviousPage}
    
        {block:NextPage}
        %a{:href => "{NextPage}"}
          Older
        {/block:NextPage}
    
    .footer
      .picture.no_left_margin
        %img{:src => "{PortraitURL-128}"}
      
      {block:Twitter}
      .twitter.no_right_margin
        @{TwitterUsername} on twitter

        #tweets
          %noscript
            Sorry, but you can't see my 
            %a{:href => "http://twitter.com/{TwitterUsername}", :target => "_blank"}
              twitter updates 
            because you have disabled javascript.
      %script{:type => "text/javascript"}
        function recent_tweets(data) {
        for (i=0; i < data.length; i++) {
        document.getElementById("tweets").innerHTML = 
        document.getElementById("tweets").innerHTML + 
        '<div class="tweet">' + data[i].text +
        '</div>';
        }
        }
      {/block:Twitter}
        
%script{:src => "/tweets.js", :type => "text/javascript"}