%html
  %head
    %meta{:name => "color:Link", :content => "#dcdcdc"}
    %meta{:name => "color:Visited Link", :content => "#bcbcbc"}
    %meta{:name => "color:Navigation Link", :content => "#FF0000"}
    %meta{:name => "color:Navigation Visited Link", :content => "#BB0000"}

    %meta{:name => "color:Box 1", :content => "#00CC00"}
    %meta{:name => "color:Box 2", :content => "#FF3399"}
    %meta{:name => "color:Box 3", :content => "#0099FF"}
    
    %style{:type => "text/css", :media => "screen"}
      = File.read('main.css')
    %style{:type => "text/css", :media => "screen"}
      = File.read('custom.css')
    %script{:src => "http://static.tumblr.com/jfofjkz/lWKlcewgn/cufon-yui.js", :type => "text/javascript"}
    %script{:src => "http://static.tumblr.com/jfofjkz/jT1lcewhu/cooper_std_900.font.js", :type => "text/javascript"}
    %script{:src => "http://static.tumblr.com/jfofjkz/N8elck12r/dd_roundies_0.0.2a-min.js", :type => "text/javascript"}
    %script{:type => "text/javascript"}
      Cufon.replace('h1');
      Cufon.replace('h2');  
    %script{:type => "text/javascript"}
      DD_roundies.addRule('.title', '50px');
      DD_roundies.addRule('.description', '16px');
      DD_roundies.addRule('.content', '50px');
      DD_roundies.addRule('.timestamp', '16px');
      DD_roundies.addRule('.picture', '30px');
      DD_roundies.addRule('.twitter', '30px');
      
    %title
      {title}
    %a{:rel => "shortcut icon", :href => "{Favicon}"}
    %a{:rel => "alternate", :type => "application/rss+xml", :href => "{RSS}"}
    {block:Description}
    %meta{:name => "description", :content => "{MetaDescription}"}
    {/block:Description}
    
  %body
    .wrapper
      .header
        %a{:href =>"/", :style => "text-decoration: none"}
          .title
            %h1
              {Title}
      {block:Description}
      .description
        %h3
          {Description}
      {/block:Description}
      .clear
    
      = Haml::Engine.new(File.read('templates/posts.haml')).render
    
      .pagination
        %h3
    
          {block:PreviousPage}
          .newer
            %a{:href => "{PreviousPage}"}<
              Newer
            {block:NextPage}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {/block:NextPage}
          {/block:PreviousPage}
    
          {block:NextPage}
          .older
            %a{:href => "{NextPage}"}<
              Older
            {/block:NextPage}
            %br
          .clear
          %a{:href => "{RSS}"}<
            Feed
          
    .footer
      .picture.no_left_margin
        %img{:src => "{PortraitURL-128}"}
      
      {block:Twitter}
      .twitter.no_right_margin
        %h3
          @
          %a{:href => "http://twitter.com/{TwitterUsername}"}><
            {TwitterUsername}
          &nbsp;on twitter

        #tweets
          %noscript
            Sorry, but you can't see my 
            %a{:href => "http://twitter.com/{TwitterUsername}", :target => "_blank"}<
              twitter updates 
            because you have disabled javascript.
      %script{:type => "text/javascript"}
        function recent_tweets(data) {
        for (i=0; i < 3; i++) {
        document.getElementById("tweets").innerHTML = 
        document.getElementById("tweets").innerHTML + 
        '<div class="tweet">' + data[i].text +
        '</div>';
        }
        }
      {/block:Twitter}
    .clear
    .attribution
      %h3
        Watermelon Man 
        %a{:href => "https://github.com/fareastside/watermelon-man"}<
          Theme
        &nbsp;[Beta] by Jeff Latz
        
%script{:src => "/tweets.js", :type => "text/javascript"}