%html
  %head
    %link{:rel => "stylesheet", :href => "main.css", :type=>"text/css"}
    %script{:src => "cufon-yui.js", :type => "text/javascript"}
    %script{:src => "Cooper_Std_900.font.js", :type => "text/javascript"}
    %script{:type => "text/javascript"}
      Cufon.replace('h1');
      Cufon.replace('h2');

  %body
    .wrapper
      .header
        .title
          %h1
            This is a test
      .description
        %h3
          Only a test, motherfuckers asdfas asdf asadf asdf asdfasdf asdf asdf asdf asdf asdf asdf asdf sdhkf;lka j;dskjf;ksdoj ;akjdslkfj kaasdjf jals;kd j;alsdjf sajf;lsd ak
      .clear
      = 5.times do 
        = Haml::Engine.new(File.read('templates/testpost.haml')).render

      .footer
        .picture.no_left_margin
        .following.no_right_margin