%html
  %head
    %link{:rel => "stylesheet", :href => "main.css", :type=>"text/css"}
  
  %body
    .wrapper
      .header
        .twrapper
          .title
            %h1
              This is a test
        .description
          %h3
            Only a
      .posts
        = 5.times do 
          = Haml::Engine.new(File.read('templates/testpost.haml')).render


      .footer