%html
  %head
    %link{:rel => "stylesheet", :href => "main.css", :type=>"text/css"}
  
  %body
    .wrapper
      .header
        .twrapper
          .title
            %h1
              This is a test
        .description
          %h3
            Only a test, motherfuckers asdfas asdf asadf asdf asdfasdf asdf asdf asdf asdf asdf asdf asdf sdhkf;lka j;dskjf;ksdoj ;akjdslkfj kajsdlkfj lk jas;lkd jflkasdj;l adf;j ;ljsdj a;sj;lk ;la ;la f;a  f; a;lad;l js;kja;lfasl
      .posts
        = 5.times do 
          = Haml::Engine.new(File.read('templates/testpost.haml')).render


      .footer