.post
  .content
    %h2
      Foooooo
    %p
      Chances are, you're reading this article after clicking on a shortened link. And if, like many modern infovores, your online reading is driven by your social network rather than your feed reader, most of the pages you've visited today were mediated by a shortened link.
    %p
      Link shorteners have become ubiquitous over the last few years, and they're an increasingly important part of the social fabric of the web. But is that a good thing?asdf
    .timestamp
      %h3
        2:26pm ~ 14 october 2009 ~ 123 notes